<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" type="text/css" href="style.css">
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">
            <script src="https://use.fontawesome.com/65a05ff4b6.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <title>
                COREDEV
            </title>
        </head>
    <!--1. Technologies-Shinjon
        2. We Simplify..-Akash
        3. Offer-Akshat
        4. Navbar-Akshat & Shinjon
    -->
    <body>
        <div class="SDP">
            <h1 style="padding-bottom: 2.5%;text-align:left;padding-left:5%"> We Simpify Software Development Process</h1>

            <div class="row">
                <div class="column">
                    <i class="fa fa-search" style="color:#e9c13c;font-size: 300%;"></i>
                    <h2 style="text-align:left;">Discover </h2>
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> 
                </div>
                <div class="column">
                    <i class="fa fa-pencil" aria-hidden="true" style="color:#ec3030;font-size: 300%;"></i>
                    <h2 style="text-align:left;">Design </h2>
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
                <div class="column">
                    <i class="fa fa-file-code-o" aria-hidden="true" style="color:#1b8128;font-size: 300%;"></i>
                    <h2 style="text-align:left;">Build</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p> 
                </div>
                <div class="column">
                    <i class="fa fa-check-square-o" aria-hidden="true" style="color:#322fd1;font-size: 300%;"></i>
                    <h2 style="text-align:left;">Deliver</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                </div>
            </div>
        </div>
        

        <div class="tech-slideshow">
            <div class="mover-1"></div>
            <!-- <div class="mover-2"></div> -->
        </div>
        <br>
        <br>

        <div class="tech-slideshow-reverse">
            <div class="mover-3"></div>
            <!-- <div class="mover-4"></div> -->
        </div>


       
    </body>
</html>
    
