@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  body{
    background-color: black;
}

h1{
  color: #ffffff;
  text-align: center;
  font-size: 400%;
}

.row{
  margin-left: 8.0px;
}

h2{
      color: #ffffff;
}

.column {
    float: left;
    width: 20%;
    padding-left: 4%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.p{
  color: #ffffff;
}
.SDP{
  color:#fff;
  font-family: "Lato";
}
i{
  color:#fff;
}

.SDP p,h2{
  font-size: 95%;
}
.SDP h2{
  font-weight: 600;
  font-size:300%;
}
.SDP p{
  font-weight: 400;
  letter-spacing: 0.5px;
}
.SDP i{
  font-size:300%;
}
/*Akshat*/




/* Akash */
.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 20s linear infinite;
}
/* .tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
} */

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}


.tech-slideshow-reverse {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}


.tech-slideshow-reverse > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
  
}
.tech-slideshow-reverse .mover-3 {
  animation: moveSlideshow 20s linear infinite reverse;
}
/* .tech-slideshow-reverse .mover-4 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite reverse;
}
.tech-slideshow:hover .mover-4 {
  opacity: 1;
} */

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}








/*Akshat*/
.services{
  margin-top: 2vw;
}

.container{
  position: absolute;
  /*transform: translate(-50%, -50%);*/
}

.circle{
  position: absolute;
  width: 95%;
  height: 70%;
  overflow: hidden;
  z-index: -1;
}

.circle li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 70%;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circle li.blue{
  background: purple;
}

.circle li.red{
  background: orange;
}

.circle li.green{
  background: purple;
}

.circle li.yellow{
  background: orange;
}

.circle li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
}

.circle li:nth-child(2){
  left: 10%;
  width: 45px;
  height: 45px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circle li:nth-child(3){
  left: 30%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
  animation-duration: 12s;
}

.circle li:nth-child(4){
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circle li:nth-child(5){
  left: 65%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circle li:nth-child(6){
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
  animation-duration: 12s;
}

.circle li:nth-child(7){
  left: 90%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 12s;
}

.circle li:nth-child(8){
  left: 20%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 12s;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
  }
}



.card{
  position: ;
  margin-top: 2vw;
  /*margin-left: 2vw;*/
  height: 37vw;
  width: 30vw;
  border-radius: 15px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.2));
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.card h2{
  font-weight: 400;
  text-align: center;
  font-size:3vw;
  color: white;
  font-family: "Lato";
}

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } 


.span-1-of-3 {
    width: 32.26%; 
}
@media only screen and (max-width: 720px) {   
    .span-1-of-3 {
        width: 100%;
    }
}